<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--    默认页面-->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--    <session-config>-->
    <!--        <session-timeout>1</session-timeout>-->
    <!--    </session-config>-->
    <!--    登录servlet传统注册-->
    <servlet>
        <servlet-name>loginSvl</servlet-name>
        <servlet-class>com.web.loginSvl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginSvl</servlet-name>
        <url-pattern>/loginSvl</url-pattern>
    </servlet-mapping>
    <!-- 登录验证过滤器传统配置-->
    <filter>
        <filter-name>checkLoginFilter</filter-name>
        <filter-class>com.filter.checkLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>checkLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>